*.builtin
*.cmd
*.o
*.o.d
*.order

kernel/crypto/ansi_cprng.ko
kernel/drivers/misc/vibetonz/vibrator.ko
kernel/drivers/net/wireless/bcm4329/victory/dhd.ko
kernel/drivers/net/wireless/bcm4329/victory/src/wl/sys/hotspot_event_monitoring.ko
kernel/drivers/net/wireless/wimax/cmc7xx_sdio.ko
kernel/drivers/net/wireless/wimaxgpio/wimax_gpio.ko
kernel/drivers/onedram/dpram/dpram.ko
kernel/drivers/onedram/dpram_recovery/dpram_recovery.ko
kernel/drivers/scsi/scsi_wait_scan.ko
kernel/.config
kernel/.config.old
kernel/.version
kernel/Module.symvers
kernel/System.map
kernel/arch/arm/boot/Image
kernel/arch/arm/boot/compressed/lib1funcs.S
kernel/arch/arm/boot/compressed/piggy.gzip
kernel/arch/arm/boot/compressed/vmlinux
kernel/arch/arm/boot/compressed/vmlinux.lds
kernel/arch/arm/boot/zImage
kernel/arch/arm/kernel/asm-offsets.s
kernel/arch/arm/kernel/vmlinux.lds
kernel/arch/arm/lib/lib.a
kernel/crypto/ansi_cprng.mod.c
kernel/drivers/bluetooth/bthid/bthid.mod.c
kernel/drivers/char/consolemap_deftbl.c
kernel/drivers/char/defkeymap.c
kernel/drivers/misc/vibetonz/vibrator.mod.c
kernel/drivers/net/tun.mod.c
kernel/drivers/net/wireless/bcm4329/victory/dhd.mod.c
kernel/drivers/net/wireless/bcm4329/victory/src/wl/sys/hotspot_event_monitoring.mod.c
kernel/drivers/net/wireless/wimax/cmc7xx_sdio.mod.c
kernel/drivers/net/wireless/wimaxgpio/wimax_gpio.mod.c
kernel/drivers/onedram/dpram/dpram.mod.c
kernel/drivers/onedram/dpram_recovery/dpram_recovery.mod.c
kernel/drivers/scsi/scsi_wait_scan.mod.c
kernel/firmware/samsung_mfc_fw.bin
kernel/firmware/samsung_mfc_fw.bin.gen.S
kernel/.config
kernel/.missing-syscalls.d
kernel/.tmp_System.map
kernel/.tmp_kallsyms1.S
kernel/.tmp_kallsyms2.S
kernel/.tmp_versions/
kernel/.tmp_vmlinux1
kernel/.tmp_vmlinux2
kernel/.version
kernel/include/config/
kernel/include/generated/
kernel/include/linux/version.h
kernel/kernel/bounds.s
kernel/kernel/config_data.gz
kernel/kernel/config_data.h
kernel/kernel/timeconst.h
kernel/lib/crc32table.h
kernel/lib/gen_crc32table
kernel/lib/lib.a
kernel/usr/.initramfs_data.cpio.d
kernel/usr/gen_init_cpio
kernel/usr/initramfs_data.cpio
kernel/make.out
kernel/vmlinux

